<div class="row">
  <h2>About the makers of the app:</h2>

  <div class="twelve columns">
    <div class="six columns">
      <p>Dan Carter</p>

      <p>Front End Capo</p>

      <p><a href="www.twitter.com/dcartertwo">@dcarter_js</a></p>
    </div>
    <div class="six columns">
      <p>Jaren Glover</p>

      <p>Back End OG</p>

      <p><a href="www.twitter.com/glovedotcom">@glovedotcom</a></p>

      <p><a href="www.jarenglover.com">Blog</a></p>
    </div>
  </div>
  <h2>This site wouldn't be possible without these awesome open source technologies:</h2>

  <div class="twelve columns">
    <div class="row">
      <div class="logo-container">
        <div data-ng-repeat="image in images">
          <div class="two columns">
            <div class="tech-logo">
              <img data-ng-src="{{image}}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>