<div class="row">
  <h2>About the makers of the app:</h2>
  <br>
  <div class="twelve columns">
    <div class="six columns">
           <p><a data-ng-href="https://github.com/dcartertwo"
                             data-target="_self">Dan Carter<a/></p>

      <p>Front End Capo</p>

      <p><a data-ng-href="http://www.twitter.com/dcartertwo" data-target="_self">@dcarter_js</a></p>
    </div>
    <div class="six columns">
        <p><a data-ng-href="https://github.com/glovedotcom"
            data-target="_self">Jaren Glover<a/></p>

      <p>Back End OG</p>

      <p><a data-ng-href="http://www.twitter.com/glovedotcom" data-target="_self">@glovedotcom</a></p>

      <p><a data-ng-href="http://www.jarenglover.com" data-target="_self">Blog</a></p>
    </div>
  </div>
  <h2>This site wouldn't be possible without these awesome open source technologies:</h2>

  <div class="twelve columns">
    <div class="row">
      <div class="logo-container">
        <div data-ng-repeat="image in images">
          <div class="two columns">
            <div class="tech-logo">
              <img data-ng-src="{{image}}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
